body {
    background-color: black;
    color: white;
}

#individualNav {
    float: left;
    width: 910px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

ul li {
    display: inline-block;
}

header {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.button {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
}

#wrapper {
    width: 1000px;
    height: 562px;
    overflow: hidden;
}

.content {
    width: 1000px;
    height: 562px;
}

#content1 {
    display: block;
}

#content2 {
    display: none;
}

#content3 {
    display: none;
}

#content4 {
    display: none;
}

#content5 {
    display: none;
}

#credit {
    margin: 0 auto;
    padding-top: 15px;
    font-size: 11px;
    text-align: center;
}

#credit a {
    text-decoration: none;
    color: gray;
}

#credit a:visited {
    color: gray;
}

#credit a:hover {
    text-decoration: underline;
}